   
/*----BS AS  banner Nosotros---*/
      /*----Glamping Puente Blanco ---*/

  .breadcam_bgpuenteblanco{
      background-image: url(../img/listaprovincias/bsas_puenteblanco.jpeg);
      height: 100vh;
    }

  .about_bgpuenteblanco1 {
    background-image: url(../img/carruselprov/bsas_puenteblanco4.jpeg);
    }
  
    .about_bgpuenteblanco2 {
      background-image: url(../img/carruselprov/bsas_puenteblanco5.jpeg);
    }
    .about_bgpuenteblanco3{
      background-image: url(../img/carruselprov/bsas_puenteblanco6.jpeg);
    }

    .about_bgpuenteblanco4 {
      background-image:url(../img/carruselprov/bsas_puenteblanco7.jpeg);
    }
    
    .about_bgpuenteblanco5 {
    background-image:url(../img/carruselprov/bsas_puenteblanco8.jpeg);
    }
    
    .about_bgpuenteblanco6 {
    background-image:url(../img/carruselprov/bsas_puenteblanco9.jpeg);
    }
    



  /*----Salta banner about---*/   
 /*---- Siilu Wasi Refugio ---*/  

       
 .breadcam_bgsiilu {
  background-image: url(../img/listaprovincias/salta_siiluwasi.jpeg);
  height: 100vh;
}

.about_bgsiilu1 {
  background-image: url(../img/carruselprov/salta_siilu4.jpeg);
}

.about_bgsiilu2 {
  background-image:url(../img/carruselprov/salta_siilu5.jpeg)
}

.about_bgsiilu3 {
  background-image:url(../img/carruselprov/salta_siilu6.jpeg)
}

.about_bgsiilu4 {
  background-image:url(../img/carruselprov/salta_siilu7.jpeg)
}

.about_bgsiilu5 {
background-image:url(../img/carruselprov/salta_siilu8.jpeg)
}

.about_bgsiilu6 {
background-image:url(../img/carruselprov/salta_siilu9.jpeg)
}

  
  /*----JUJUY banner about---*/      
    /*----Prinstine Camps ---*/ 

    .breadcam_bgpristine {
        background-image: url(../img/listaprovincias/jujuy_pristinecamps2.jpeg);
        height: 100vh;
    }

    .about_bgpristine1 {
        background-image: url(../img/carruselprov/jujuy_pristine4.jpeg);
    }

    .about_bgpristine2 {
        background-image:url(../img/carruselprov/jujuy_pristine5.jpeg)
    }

    .about_bgpristine3 {
        background-image:url(../img/carruselprov/jujuy_pristine6.jpeg)
    }

    .about_bgpristine4 {
        background-image:url(../img/carruselprov/jujuy_pristine7.jpeg)
    }

    .about_bgpristine5 {
      background-image:url(../img/carruselprov/jujuy_pristine8.jpeg)
    }

    .about_bgpristine6 {
      background-image:url(../img/carruselprov/jujuy_pristine9.jpeg)
    }

    .about_info p {
        color: #000;
        font-size: 46px;
    }

 /*----MENDOZA banner about---*/   
 /*---- Domos Uspallata ---*/   
       
 .breadcam_bguspallata {
  background-image: url(../img/listaprovincias/mza_uspallata.jpeg);
  height: 100vh;
}

.about_bguspallata1 {
  background-image: url(../img/carruselprov/mza_uspallata4.jpeg);
}

.about_bguspallata2 {
  background-image:url(../img/carruselprov/mza_uspallata5.jpeg)
}

.about_bguspallata3 {
  background-image:url(../img/carruselprov/mza_uspallata6.jpeg)
}

.about_bguspallata4 {
  background-image:url(../img/carruselprov/mza_uspallata7.jpeg)
}

.about_bguspallata5 {
background-image:url(../img/carruselprov/mza_uspallata8.jpeg)
}

.about_bguspallata6 {
background-image:url(../img/carruselprov/mza_uspallata9.jpeg)
}

/*----Santa Cruz banner about---*/   
 /*---- Patagonia Eco domes ---*/  

       
 .breadcam_bgecodomes{
  background-image: url(../img/listaprovincias/stacruz_pateco.jpeg);
  height: 100vh;
  background-position-y: 20px;
}


.about_bgecodomes1 {
  background-image: url(../img/carruselprov/stacruz_pateco4.jpeg);
}

.about_bgecodomes2 {
  background-image:url(../img/carruselprov/stacruz_pateco5.jpeg)
}

.about_bgecodomes3 {
  background-image:url(../img/carruselprov/stacruz_pateco6.jpeg)
}

.about_bgecodomes4 {
  background-image:url(../img/carruselprov/stacruz_pateco7.jpeg)
}

.about_bgecodomes5 {
background-image:url(../img/carruselprov/stacruz_pateco8.jpeg)
}

.about_bgecodomes6 {
background-image:url(../img/carruselprov/stacruz_pateco9.jpeg)
}


