   
/*----BS AS  banner Nosotros---*/
      /*----Bosque Glamping ---*/

  .about_bg_2 {
    background-image: url(../img/banner/bsas_bosque4_png.png);
    }
    .about_bg_3 {
        background-image: url(../img/banner/bsas_bosque6_png.png);
    }
    .about_bg_4 {
        background-image: url(../img/banner/bsas_bosque1png\ png.png);
        }

  /*----Salta banner about---*/   
 /*---- Siilu Wasi Refugio ---*/  

       
 .breadcam_bgsiilu {
  background-image: url(../img/listaprovincias/salta_siiluwasi.png);
  height: 100vh;
  background-position-y: 20px;
}

.about_bgsiilu1 {
  background-image: url(../img/carruselprov/salta_siilu4.png);
}

.about_bgsiilu2 {
  background-image:url(../img/carruselprov/salta_siilu5.png)
}

.about_bgsiilu3 {
  background-image:url(../img/carruselprov/salta_siilu6.png)
}

.about_bgsiilu4 {
  background-image:url(../img/carruselprov/salta_siilu7.png)
}

.about_bgsiilu5 {
background-image:url(../img/carruselprov/salta_siilu8.png)
}

.about_bgsiilu6 {
background-image:url(../img/carruselprov/salta_siilu9.png)
}

  
  /*----JUJUY banner about---*/      
    /*----Prinstine Camps ---*/ 

    .breadcam_bgpristine {
        background-image: url(../img/listaprovincias/jujuy_pristinecamps2.png);
        height: 100vh;
    }

    .about_bgpristine1 {
        background-image: url(../img/carruselprov/jujuy_pristine4.png);
    }

    .about_bgpristine2 {
        background-image:url(../img/carruselprov/jujuy_pristine5.png)
    }

    .about_bgpristine3 {
        background-image:url(../img/carruselprov/jujuy_pristine6.png)
    }

    .about_bgpristine4 {
        background-image:url(../img/carruselprov/jujuy_pristine7.png)
    }

    .about_bgpristine5 {
      background-image:url(../img/carruselprov/jujuy_pristine8.png)
    }

    .about_bgpristine6 {
      background-image:url(../img/carruselprov/jujuy_pristine9.png)
    }

    .about_info p {
        color: #000;
        font-size: 46px;
    }

 /*----MENDOZA banner about---*/   
 /*---- Domos Uspallata ---*/   
       
 .breadcam_bguspallata {
  background-image: url(../img/listaprovincias/mza_uspallata.png);
  height: 100vh;
  background-position-y: 20px;
}

.about_bguspallata1 {
  background-image: url(../img/carruselprov/mza_uspallata4.png);
}

.about_bguspallata2 {
  background-image:url(../img/carruselprov/mza_uspallata5.png)
}

.about_bguspallata3 {
  background-image:url(../img/carruselprov/mza_uspallata6.png)
}

.about_bguspallata4 {
  background-image:url(../img/carruselprov/mza_uspallata7.png)
}

.about_bguspallata5 {
background-image:url(../img/carruselprov/mza_uspallata8.png)
}

.about_bguspallata6 {
background-image:url(../img/carruselprov/mza_uspallata9.png)
}

/*----Santa Cruz banner about---*/   
 /*---- Patagonia Eco domes ---*/  

       
 .breadcam_bgecodomes{
  background-image: url(../img/listaprovincias/stacruz_pateco.png);
  height: 100vh;
  background-position-y: 20px;
}


.about_bgecodomes1 {
  background-image: url(../img/carruselprov/stacruz_pateco4.png);
}

.about_bgecodomes2 {
  background-image:url(../img/carruselprov/stacruz_pateco5.png)
}

.about_bgecodomes3 {
  background-image:url(../img/carruselprov/mza_uspallata6.png)
}

.about_bgecodomes4 {
  background-image:url(../img/carruselprov/mza_uspallata7.png)
}

.about_bgecodomes5 {
background-image:url(../img/carruselprov/mza_uspallata8.png)
}

.about_bgecodomes6 {
background-image:url(../img/carruselprov/mza_uspallata9.png)
}


